@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/jquery.eeyellow.Timeline.css">
<script src="~/js/jquery.eeyellow.Timeline.js"></script>
<script src="~/js/AutoVivaTimeLine.js"></script>
<div>
    <p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text dropdown-toggle" data-toggle="collapse" data-target="#tools"
                aria-expanded="false" aria-controls="tools">
                Tools
            </div>
        </div>
        <div class="form-control"></div>
    </div>
    </p>
    <div class="collapse" id="tools">
        <div class="card card-body">
            <table class="table">
                <thead>
                    <th scope="col">
                        #
                    </th>

                    <th scope="col">
                        Item
                    </th>

                    <th scope="col">
                        Content
                    </th>

                    <th scope="col">
                        Remarks
                    </th>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">
                            1
                        </th>
                        
                        <td>
                            Whitelist
                        </td>
                        
                        <td>
                            <a href="https://github.com/aron-666/Aron.Web.WhiteList" target="_blank" rel="noreferrer noopener">Github Page</a>
                        </td>

                        <td>

                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            2
                        </th>
                        
                        <td>
                            Ping tool
                        </td>
                        
                        <td>
                            <a asp-area="" asp-controller="SiteTools" asp-action="Ping">Ping</a>
                        </td>
                        
                        <td>
                            Authorize
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            3
                        </th>
                        
                        <td>
                            Swagger
                        </td>
                        
                        <td>
                            <a asp-area="" asp-controller="swagger" asp-action="" target="_blank" rel="noreferrer noopener">Swagger</a>
                        </td>
                        
                        <td>
                            Whitelist Used
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">
                            4
                        </th>
                        
                        <td>
                            WhatIsMyIP
                        </td>
                        
                        <td>
                            <a asp-area="" asp-controller="SiteTools" asp-action="WhatIsMyIP">What Is My IP</a>
                        </td>
                        
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="card mw-70" >
  <div class="card-body">
    <h5 class="card-title">Wellcome To Aron Home!！</h5>
    <h6 class="card-subtitle mb-2 text-muted">這裡為你介紹我的專長及經歷</h6>
    <p class="card-text">&emsp;&emsp;你好，我是Aron，這網站將以Aron來代表作者。</p>
    <p class="card-text">
        &emsp;&emsp;先介紹一下我是怎麼入坑的，我一開始（高二時）因為學校接觸了VB.Net，而我對遊戲的外掛有很深的興趣，又看到當時的亞台龍欸的VB.Net開源外掛，所以決定拿他的外掛來學習。
        後來為了更了解，沒日沒夜的嗑了C/C++ 與組合語言，而寫了第三版外掛，讓我收益了不少錢，也在這個時期，我認識了黃勇仁教授，他給了我很多機會做案子。
        <br>
        <br>
        
    </p>

    <p class="card-text">
        再來介紹一下我的專長：
    </p>
    <ul>
        <li>.Net 開發經驗3年</li>
        <li>熟悉許多 Tcp 下的網路協定</li>
        <li>熟悉 Web Api 及其安全性</li>
        <li>熟悉許多工業用協定</li>
        <li>瞭解軟體的資安問題</li>
        <li>資料庫規劃</li>
        <li>快速找到 Bug 並解決，擁有強大的 Debug 能力</li>
        <li>瞭解程式的底層運作</li>
        <li>大略瞭解網路架構</li>
        <li>實做能力強</li>
    </ul>
    <br>
  </div>
</div>

<script>
    $(document).ready(() => {

        $.getJSON("@ViewBag.root/intro/GetPosts", d => {
            dl = new AutoVivaTimeLine('@ViewBag.root');
            var tlBody = $('#tlBody');
            tlBody.append(dl.build(d.data.Posts)); 
            $('.VivaTimeline').vivaTimeline();

        });

    });
</script>
<style>
    .events-object {
        display: block;
        max-width: 100%;
        height: auto;
        
    }   
    div {
    }
    .VivaTimeline dl dd .events {
        /*padding-top: 0;*/
    }
    .VivaTimeline dl dd .events .events-header {
        min-height: 22px;
        line-height: 15px;
    }
    .VivaTimeline dl dd .circ {
        background-color: orange;
    }
    .VivaTimeline dl dd .time{
        color: orange;
    }
</style>
<div class="VivaTimeline">
  <dl id="tlBody">
    @* <dt>May 2016</dt>                                    
    <dd class="pos-left clearfix">
      <div class="circ"></div>
      <div class="time">Feb 03</div>
      <div class="events">
          <div class="events-header"></div>                                
          <div class="events-body" style="padding: 0.3em;">                                                                                            
              <div class="card">
                <img src="~/images/aaa.jpg" class="card-img-top" alt="壞了50收">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">查看更多</a>
                </div>
              </div>
          </div>   
          <div class="events-footer">
            <a href="#">　</a>
          </div>                               
      </div>
    </dd>
    *@
  </dl>
</div>


